<?xml version="1.0"?>
<!--
/**
 * @author PF Team
 * @copyright Copyright (c) PF Team (https://github.com/di-zed/)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="PF_Core" setup_version="1.0.0"/>
</config>
